body {
  display: flex;
  justify-content: center;
}
select,
input {
  display: block;
}

span {
  align-self: center;
  text-align: center;
  width: 40vw;
  color: white;
  background-color: red;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 600px;
}
