body {
  display: flex;
  justify-content: center;
}
select,
input {
  display: block;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50vw;
}
